@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

select[disabled] {
  border: 2px solid gold;
}

input[type="checkbox" disabled] {
  color: red;
}

#bgImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  transform: translate3d(0);
}

body {
  animation: fadein 0.5s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: white;
  color: black;
  width: 100%;
  height: 100%;
}

input, select, button, a, textarea {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.no-app-drag {
  -webkit-app-region: no-drag;
}

span, .status-container {
  cursor: default;
}

select, input[type=search] {
  width: 90%;
}

a:focus, button:focus {
  outline: #00BFFF solid 2px;
}

#closeModal:focus {
  background: white;
  text: black;
  outline: #00BFFF solid 2px;
}

.tablink {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.active {
  background: black;
  color: white;
}

.border-right-black {
  border-right: 1px solid black;
}

.border-right-white {
  border-right: 1px solid white;
}

.border-left-black {
  border-left: 1px solid black;
}

.border-left-white {
  border-left: 1px solid white;
}

.centered {
  text-align: center;
}

.search-bar {
  padding: 0;
  margin: 0;
  width: 100%;
}

.splitter {
  margin: 0;
  padding: 0;
  background: black;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 5%;
  width: 90%;
  height: 1px;
}

.aboutSplitter {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 1px;
  width: 90%;
}

.status-container {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: -0.5em;
}

.view-container {
  margin-top: 4px;
}

.controls-container {
  margin-top: 4px;
  line-height: 150%;
}

a.w3-btn {
  margin-top: 8px;
  margin-bottom: 4px;
}

.bolded {
  font-weight: bold;
}

.icon {
  margin-top: 6px;
  margin-left: 14px;
}

.taller {
  position: relative;
  top: -0.05em;
  left: 0.5em;
  font-size: x-large;
}

.headerBold {
  font-weight: bolder;
}

.headerItalic {
  font-style: italic;
}

.vertCenter {
  vertical-align: middle;
}

#blacklistView, #clientView, #settingsView, #helpView, #aboutView, #debugView {
  display: none;
}

#helpView {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

#forceDownload {
  margin-top: 0;
  margin-bottom: 8px;
  padding-left: 2px;
  width: 210px;
  text-align: left;
}

#clearForce, #addForce {
  margin-top: 8px;
  margin-bottom: 8px;
}

#lastCleanTime, #lastRunLabel {
  margin-top: 16px;
  margin-bottom: 8px;
}

#launchOptions {
  margin-top: 4px;
  margin-bottom: 8px;
}

#launchBtn {
  margin-top: 4px;
  margin-bottom: 8px;
}

#launchOptionsListLeft, #launchOptionsListRight {
  width: 100%;
  list-style-type: none;
  line-height: 2em;
  margin-top: -1em;
}

#launchOptionsListLeft label, #launchOptionsListRight label {
  cursor: pointer;
}

#lo_arg_daisy_wheel {
  margin-left: 8px;
  width: 70px;
}

#lo_arg_bitness {
  margin-left: 8px;
  width: 45px
}

#lo_arg_platform {
  margin-left: 8px;
  width: 98px;
}

#skinList {
  width: 115px;
  margin-top: 4px;
  margin-bottom: 6px;
}

#modalHeader {
  margin-left: 2em;
}

#closeModal {
  margin-top: 4px;
  margin-right: -12px;
  width: 48px;
  height: 42px;
  font-size: 2em;
}

#resetLaunchOptions, #saveLaunchOptions {
  margin-top: 8px;
  margin-bottom: 8px;
}

#launchBtn {
  margin-top: 4px;
}

#bpmModeList {
  width: auto;
}

#hamburger {
  position: absolute;
  top: -8px;
  left: 1px;
}

#VMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navMenu {
  margin-bottom: 48px;
}

#autoUpdateBehaviorList {
  margin-top: 8px;
  margin-bottom: 8px;
}

#steamInstallations {
  width: 10em;
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: sub;
}

#settingsControlsContainer {
  margin-bottom: 16px;
}

#appSettingsControlsContainer {
  margin-top: 16px;
}

#autoLoadContainer {
  padding-top: 8px;
}

#autoLoad {
  margin-bottom: 16px;
}

label[for="autoLoad"] {
  cursor: pointer;
  margin-left: 4px;
  vertical-align: text-top;
}

label[for="cbOfflineFix"] {
  cursor: pointer;
  margin-top: 16px;
  vertical-align: text-top;
}

#linkSettings {
  width: 5em;
}

#bgSettingsList {
  width: 6em;
  margin-top: 8px;
  margin-bottom: 8px;
}

#bgSettingsSolidContainer {
  margin-top: 8px;
  margin-bottom: 8px;
}

#bgSettingsGradientContainer {
  margin-top: 8px;
  margin-bottom: 8px;
}

#bgSettingsGradient {
  width: 100%;
  resize: none;
}

#bgSettingsImageContainer {
  margin-top: 8px;
  margin-bottom: 8px;
}

#textSettingsColor {
  width: 5em;
  margin-top: 4px;
  margin-bottom: 4px;
}

#bgSettingsSolid {
  width: 5em;
}

#validDir {
  margin-top: 4px;
}

#aboutView {
  color: black;
}

#aboutView > div:nth-child(4) {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}

#aboutHeader {
  float: left;
}

#summaryText {
  font-size: 0.8em;
}

.aboutSeparator {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 1px;
  width: 90%;
}

#aboutFooter {
  font-size: 12px;
}

#aboutFooter > #thirdParty > span:first-child {
  font-size: 10px;
}

#credits {
  font-size: 14px;
}

#love {
  font-size: 24px;
  color:red;
  vertical-align: -3px;
}

#licensing a {
  font-size: 12px;
  vertical-align: middle;
}

#licensing {
  display: inline-block;
  margin-top: 10px;
}

@media only screen and (min-width: 601px) {
  #aboutSeparator {
    display: none;
  }

  #aboutFooter {
    margin-top: 0;
  }

  #aboutView > div:nth-child(4) {
    left: 20%;
  }
}

@media only screen and (min-width: 768px) {
  #launchOptionsContainer {
      padding-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  #launchOptionsListRight {
    margin-top: -32px;
  }
}
